<% provide(:title, @info.nickname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <lable> Name: </lable>
        <%= @info.nickname %>
        <p> </p>
        <lable> school: </lable>
        <%= @info.school %>
        <p> </p>
    </section>
  </aside>
</div>